body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    height: 700px;
    color: white;
}

#main-street {
    background-attachment: fixed;
    background-position: center;
}

a {
    color: white;
    font-size: 25px;
    font-weight: 400;
}

#name {
    padding-top: 250px;
    font-weight:500;
}

.skillsContainer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.skills {
    max-height: 60px;
    max-width: 60px;
    position: relative;
}

.empty-div {
    height: 100px;
}

.footer {
    text-align: center;
}